* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 画面全体 */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    background: linear-gradient(135deg, #a9a9a9, #a9a9a9);
    color: #333;
    padding-top: 0;
    overflow: hidden;
}

/* ヘッダー */
#header {
    width: fit-content; 
    padding: 15px 0 10px 5vw;
    font-size: 30px;
    font-weight: bold;
    color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: none;
    width: 100%;
    height: 10vh;
}

h4 {
    font-size: 2vw;
    color: black;
    margin-right: 20px;
}

ul {
    width: 30vw;
    margin-left: 60vw;
}

.nav-list {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    gap: 3vw;
}

.nav-list li {
    list-style: none;
}

.nav-list a {
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: black;
}

.nav-list a:active {
    color: black; /* クリック時の文字色 */
}

/* ヘッダーより下の画面 */
.main-content {
    margin-top: 5vh;
    text-align: center;
    width: 100%;
    /* background-color: red; */
}

/* 入力フィールドのブロック */
.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5vh;
}

/* 入力フィールド */
.input-field {
    width: 200px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    outline: none;
}

/* 入力フィールドをクリックやタップをした時 */
.input-field:focus {
    border-color: linear-gradient(135deg, #4CAF50, #66bb6a);
    box-shadow: 0 0 5px rgba(5, 87, 42, 0.5);
}

/* 生成ボタン */
.btn_generate {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background: linear-gradient(135deg, #4CAF50, #66bb6a);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* ボタンにマウスカーソルをかざしたとき */
.btn_generate:hover {
    background: linear-gradient(135deg, #45a049, #4CAF50);
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);

}

/* ボタンを押したとき */
.btn_generate:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(72, 239, 128, 0.5);
}

/* ホームボタン */
#btn_home {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 20vw;
    padding: 10px;
    /* margin-top: 1.5vh; */
    margin: 3vh 0 0 40vw;
    background: linear-gradient(135deg, #4CAF50, #66bb6a);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

/* ボタンにマウスカーソルをかざしたとき */
#btn_home:hover {
    background: linear-gradient(135deg, #45a049, #4CAF50);
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

/* ボタンを押したとき */
#btn_home:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(72, 239, 128, 0.5);
}

/* ダウンロードボタン */
#btn_download {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 20vw;
    padding: 10px;
    /* margin-top: 10vw; */
    margin: 3vh 0 0 40vw;
    background: linear-gradient(135deg, #4CAF50, #66bb6a);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

/* ボタンにマウスカーソルをかざしたとき */
#btn_download:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(72, 239, 128, 0.5);
}

/* ボタンを押したとき */
#btn_download:hover {
    background: linear-gradient(135deg, #45a049, #4CAF50);
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

/* 画像表示ブロック */
.loader-container {
    position: relative;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 生成完了の間に表示する文字 */
.loader {
    color: #555;
    font-weight: bold;
    font-size: 30px;
    clip-path: inset(0 100% 0 0);
    animation: l5 2s steps(11) infinite;
    position: absolute;
    display: none;
}

/* 画像 */
#image {
    width: 280px;
    height: 280px;
    max-width: 100%; 
    max-height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 画像の大きさ */
#image img {
    width: 100%;  
    height: 100%;  
    object-fit: cover;  
}

/* 生成中に表示する文字 */
.loader:before {
    content: "Loading...";
}

@keyframes l5 {
    to {
        clip-path: inset(0 -1ch 0 0);
    }
}


/* スマホ用のレスポンシブデザイン */
@media screen and (max-width: 600px) {
    #header {
        font-size: 5vw;
        padding-top: 5.5%;
    }

    nav {
        height: 8vh;
        /* padding: 0.5%; */
    }

    ul {
        margin-left: 25vw;
    }

    .nav-list {
        padding-top: 6%;
        padding-bottom: 4.5%;
    }

    .nav-list a {
        font-size: 4vw;
    }

    .main-content {
        margin-top: 3vh;
    }

    .input-field {
        width: 70vw;
    }

    .btn_generate {
        font-size: 3.5vw;
        padding: 11px 16px;
    }

    .loading-text {
        font-size: 16px;
    }

    /* #btn_home {
        width: 50vw;
        margin-left: 25vw;
    } */

    #btn_download {
        width: 50vw;
        font-size: 4vw;
        margin-left: 25vw;
    }

    #image {
        width: 300px;  /* 幅を100pxに設定 */
        height: 300px;  /* 高さを100pxに設定 */
        max-width: 100%;  /* コンテナ内で最大幅を100%に設定 */
        max-height: 100%;  /* コンテナ内で最大高さを100%に設定 */
        overflow: hidden;  /* 画像がはみ出さないようにする */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #image img {
        width: 100%;  /* 画像の幅をコンテナの幅に合わせる */
        height: 100%;  /* 画像の高さをコンテナの高さに合わせる */
        object-fit: cover;  /* 画像が歪まないように、コンテナに収める */
    }
}

/* タブレットのレスポンシブデザイン */
@media screen and (min-width: 600px) and (max-width: 1024px) {
    #header {
        font-size: 5vw;
        padding-top: 4.5%;
        margin-left: 1.5%;
    }

    nav {
        height: 10vh;
    }

    ul {
        margin-left: 40vw;
    }

    .nav-list {
        padding-top: 3%;
    }

    .nav-list a {
        font-size: 3.5vw;
    }

    .input-field {
        width: 60vw; /* iPadでは入力欄を広げる */
        font-size: 3vw;
    }

    .btn_generate {
        font-size: 2.5vw; /* ボタンのフォントを見やすく調整 */
        padding: 12px 18px; /* パディングを少し増やす */
    }

    .loading-text {
        font-size: 18px; /* ローディングテキストを大きめに */
    }

    #btn_home {
        width: 40vw; /* ボタンを少し小さめに */
        margin-left: 30vw; /* センターに調整 */
    }

    #btn_download {
        width: 40vw; /* 同様にボタンサイズ調整 */
        font-size: 3.5vw;
        margin-left: 30vw;
    }

    #image {
        width: 400px;  /* 幅を広げてiPadに合わせる */
        height: 400px;  /* 高さも同じ比率で広げる */
        max-width: 100%; /* コンテナ内で最大幅を100%に設定 */
        max-height: 100%; /* コンテナ内で最大高さを100%に設定 */
        overflow: hidden; /* 画像がはみ出さないようにする */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #image img {
        width: 100%;  /* 画像の幅をコンテナの幅に合わせる */
        height: 100%;  /* 画像の高さをコンテナの高さに合わせる */
        object-fit: cover;  /* 画像が歪まないように、コンテナに収める */
    }
}
